@use "../../helpers/_helpers.scss" as *;
.h1 {
    font-weight: 700;

    @include media-breakpoint-up(lg) {
        font-size: 36px;
        line-height: 42px;
    }

    @include media-breakpoint-down(md) {
        font-size: 30px;
        line-height: 36px;
    }
}
