.header {
    background-color: var(--black1);
    padding-top: 24px;
    padding-bottom: 24px;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav {
    display: flex;
    align-items: center;
    grid-column-gap: 24px;
}

.header__link.router-link-exact-active {
    border-bottom: 1px solid var(--red2);
}

.header__logout {
    color: var(--white);
}