.characteristic {
    background-color: var(--black1);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
    color: var(--white);
    padding: 12px 40px;
}

.characteristic__block {
    padding-top: 12px;
}

.characteristic__title {
    font-size: 28px;
    line-height: 32px;
    font-weight: 700;
    height: 56px;
    text-align: center;
}

.characteristic__description {
    margin-bottom: 24px;
}

.characteristic__subtitle {
    font-size: 20px;
    line-height: 26px;
    font-weight: 600;
    margin-bottom: 18px;
}

.characteristic__subtitle--centered {
   text-align: center;
}

.characteristic__main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 6px;
    margin-bottom: 24px;
}

.characteristic__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.characteristic__tabs {
    display: flex;
    align-items: center;
    grid-column-gap: 24px;
    margin-bottom: 24px;
}

.characteristic__tab {
    color: var(--white);
    font-size: 22px;
    line-height: 26px;
}

.characteristic__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-column-gap: 80px;
    grid-row-gap: 6px;
}

.characteristic__stat {
    display: flex;
    align-items: center;
    justify-content: space-between;
}