.fight {
    position: absolute;
    top: calc(100% - 120px);
    width: 58%;
    padding: 24px;
    background-color: #333;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
}

.fight__health {
    text-align: left;
}

.fight__stats {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 8px;
    grid-column-gap: 48px;
    align-items: center;
    justify-content: space-between;
}

.fight__stat {
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    line-height: 22px;
}

.fight__icon {
    font-size: 24px;
}

.fight__health, .fight__mana {
    color: var(--white);
    display: flex;
    align-items: center;
    grid-column-gap: 12px;
    margin-bottom: 12px;
}