.person {
    display: grid;
    grid-template-columns: 380px 1fr;
    position: relative;
}

.person__main {
}

.person__picture {
    display: flex;
    align-items: center;
    justify-content: center;
}

.person__image {
    display: block;
    max-width: 100%;
    min-height: 660px;
    object-fit: cover;
    border-bottom-left-radius: 16px;
}

.person__block {
    background-color: var(--black1);
    border-top-left-radius: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.person__login {
    color: var(--white);
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.person__level {
    color: var(--white);
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.person__main--small .person__image {
    border-bottom-right-radius: 16px;
}

.person__main--small .person__block {
    border-top-right-radius: 16px;
}

.person__attack {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 48px;
}

