.shop {
    background: url("/images/components/modal/big-frame.png") 0 0/cover no-repeat;
    width: 100%;
    height: 450px;
    border-radius: 12px;
    padding: 24px;
    color: var(--white);
}

.shop {
    margin-bottom: 24px;
    text-align: center;
    font-weight: 700;
}